<section id="one" class="tiles">
        <article>
                <span class="image">
                        <img src="../assets/photography/album-artworks/4444.pn-1920x1920.png" alt="" />
                </span>
                <header class="major">
                        <h3><a href="album-artworks" class="link">ALBUM ARTWORKS</a></h3>
                </header>
        </article>
        <article>
                <span class="image">
                        <img src="../assets/photography/zieum-works/P20170330_195223000_8E9A27A0-56DF-4442-A173-749x1004.PNG" alt="" />
                </span>
                <header class="major">
                        <h3><a href="zieum-works" class="link">ZIEUM ARTWORKS</a></h3>
                        <p>ZIEUM's indivisual artworks</p>
                </header>
        </article>
</section>
